@import "tailwindcss";

/* This tells Tailwind v4 to trigger dark mode when the .dark class is present */
@custom-variant dark (&:is(.dark *));

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background-color: #3b82f6;
  color: #ffffff;
}

body {
  @apply bg-white dark:bg-neutral-950 text-neutral-900 dark:text-neutral-50;
}

@layer utilities {
  .animate-gradient {
    background-size: 200% 200%;
    animation: moveGradient 8s ease infinite;
  }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}